@charset "UTF-8";

/* terms */
.terms_content{min-height:var(--fullHeight);padding: 40px 0 60px;}
.terms_content .terms_wrap{margin-top: 0;}
.terms_wrap{margin-top: 40px;padding:40px;border: 1px solid var(--ddd);border-radius:8px;}
.terms_wrap h2{font-family:'Pretendard', sans-serif;font-size: 24px;font-weight: 600;line-height: 29px;}
.terms_wrap h3{font-family:'Pretendard', sans-serif;font-size: 14px;font-weight: 600;line-height:21px;color: var(--444);}
.terms_wrap .terms_cont{margin-top: 20px;}
.terms_wrap .terms_item + .terms_item{margin-top: 20px;}
.terms_wrap .terms_item p{font-size: 14px;font-weight: 400;line-height:21px;color: var(--444);}
@media screen and (max-width:1155px){
    .terms_content{padding: 16px 16px 60px;}
    .terms_wrap{margin-top: 16px;padding: 20px;}
    .terms_wrap .terms_cont{margin-top: 16px;}
    .terms_wrap .terms_item + .terms_item{margin-top: 16px;}
}
/* terms */

/* login */
.sect_login{display:flex;justify-content:center;align-items:center;height: var(--fullHeight);overflow: hidden;background-color: var(--f9);}
.login_box{margin-top:-16px;padding: 100px 120px;background-color: var(--white);border: 1px solid var(--eee);border-radius:8px;}
.login_box .tit{font-size: 24px;font-weight: 400;line-height:29px;text-align: center;}
.login_box .tit strong{font-weight:600}
.login_box .type_box{margin-top: 40px;}
.login_box .type_box .type_item{margin-top: 20px;display: flex;align-items: center;gap: 8px;justify-content:center;padding:14px 67px;border-radius:4px;cursor: pointer;}
.login_box .type_box .type_item:first-child{margin-top: 0;}
.login_box .type_box .type_item.type_google{background-color: #C9412A;}
.login_box .type_box .type_item.type_github{background-color: #333;}
.login_box .type_box .type_item >span{font-size: 16px;font-weight: 400;line-height: 19px;color: var(--white);white-space: nowrap;}
.login_box .type_box .type_item .icon_google{width:24px;height:24px;background-image: url('../img/google.svg');background-size:cover;}
.login_box .type_box .type_item .icon_github{width:24px;height:24px;background-image: url('../img/github.svg');background-size:cover;}
@media screen and (max-width:600px){
    .sect_login{align-items: flex-start;}
    .login_box{margin-top: 16px;}
    .sect_login .inner{width: 100%;}
    .login_box{padding: 40px 20px;}
    .login_box .tit{font-size: 20px;line-height:24px;}
    .login_box .type_box{margin-top: 24px;}
    .login_box .type_box .type_item{width:100%;padding: 14px 51px;}
}
@media screen and (max-width:1155px) and (orientation: landscape) {
    /* 가로 */
    .sect_login{height:auto; padding:16px 0 60px;}
    .login_box{margin-top: 0;}
}


/* sign_up */
.sect_signUp{padding:40px 0 60px;background-color: var(--f9);}
.signUp_box{background-color: var(--white);border: 1px solid var(--ddd);border-radius: 8px;overflow: hidden;}
.step_progress{display: flex;align-items: stretch;justify-content: center;}
.step_progress .step_item{display:block;width: 33.33%;padding:15px 0;text-align: center;background-color: var(--eee);position: relative;overflow: hidden;}
.step_progress .step_item.active{background-color: #fff;}
.step_progress .step_item::before{content: '';display: block;width: 1px;height: 100%;background-color: var(--ddd);position: absolute;left: 0;top: 0;z-index: 1;}
.step_progress .step_item::after{content: '';display: block;width: 100%;height: 1px;background-color: var(--ddd);position: absolute;left: 0;bottom: 0;z-index: 1;}
.step_progress .step_item:first-child::before{display: none;}
.step_progress .step_item.active::after{display: none;}

.step_progress .step_item{color: var(--888);}
.step_progress .step_item.active{color: var(--black);}
.step_progress .step_item .step_now{font-size: 14px;font-weight:600;line-height:17px;}
.step_progress .step_item .step_desc{font-size: 14px;font-weight:400;line-height:17px;}

.signUp_box .step_cont{padding: 40px;}
.signUp_box .step_cont .cont_tit{font-family: 'Pretendard', sans-serif;font-size: 16px;font-weight: 600;line-height:19px;}
.signUp_box .terms_wrap{margin-top:12px;padding: 0;border: 0;border-radius: 0;}
.signUp_box .terms_wrap:first-child{margin-top: 0;}
.signUp_box .terms_wrap .terms_cont{height: 360px;margin-top: 16px;padding: 24px;border: 1px solid var(--ddd);border-radius: 4px;overflow-y: auto;}

.signUp_box .chk_inp{margin-top: 12px;text-align: right;}
.signUp_box .cus_inp_box .label_box{display: inline-block;}
.signUp_box .cus_inp_box .inp_box{}

.signUp_box.step1 .btn_wrap{margin-top: 40px;}
.signUp_box .btn_wrap{display: flex;align-items: center;justify-content: center;}
.signUp_box .btn_wrap .btn{padding: 10px 55px;}

.signUp_box.step2 .step_cont{display: flex;align-items: flex-end;justify-content: space-between;}
.signUp_box .setup_pf{flex: 1 1 auto;}

.signUp_box.step3 .step_cont{display: flex;align-items: flex-end;justify-content: space-between;}
.signUp_box.step3 .setup_ws{min-height: 316px;flex: 1 1 auto;}

.signUp_box .inp_box{margin-top: 16px;}
.signUp_box .inp_box .label{flex-basis:108px;}
.signUp_box .inp_box .inp{width:100%;max-width:465px;}
.signUp_box .inp_box.textarea{align-items: flex-start;}
.signUp_box .inp_box.textarea .inp textarea{min-height: 126px;;}

.signUp_box .inp_box.err + .err_box{margin-top:8px;margin-left: 108px;max-width: 465px;}

.tooltip{position: absolute;right: 0;top: calc(100% + 15px);z-index:0;visibility: hidden;opacity: 0;transition: opacity .3s ease;}
.tooltip .msg{display:none;min-width:310px;padding:9px 8px;font-size: 12px;font-weight: 400;line-height:15px;border: 1px solid var(--purple);background-color: var(--white);border-radius:4px;}
.tooltip:after{content: "";display:none;border-top: 0px solid transparent;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 8px solid #fff;position: absolute;top: -6px;right: 10px; z-index: 1;}
.tooltip:before{content: "";display:none;border-top: 0px solid transparent;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 8px solid var(--purple);position: absolute;top: -7.5px;right: 10px;z-index: 0;}
.signUp_box .inp_box.question .icon.question{cursor: pointer;}
.signUp_box .inp_box.question .icon.question:hover + .tooltip{visibility: visible;opacity: 1;}
.signUp_box .inp_box.question .icon.question:hover + .tooltip::before,
.signUp_box .inp_box.question .icon.question:hover + .tooltip::after{display: block;}
.signUp_box .inp_box.question .icon.question:hover + .tooltip .msg{display: block;}

.signUp_box + .url_box{width: 100%;margin-top:20px;padding:21px 20px 20px;background-color: var(--white);border-radius: 8px;}
.signUp_box + .url_box .url_info{font-size: 12px;font-weight:400;line-height:15px;}
.signUp_box + .url_box .url_info .name{font-weight: 500;}
.signUp_box + .url_box .url_info > a{text-decoration: underline;color: var(--purple);}
@media screen and (min-width:951px){
    
}
@media screen and (max-width:950px){
    .sect_signUp{padding: 16px 0 60px;}
    .signUp_box .step_cont{padding: 20px 20px 40px;}

    .signUp_box .terms_wrap{margin-top: 20px;}
    .signUp_box .terms_wrap .terms_cont{min-height: 280px;margin-top: 12px;padding:20px;}

    .signUp_box.step2 .step_cont,
    .signUp_box.step3 .step_cont{display: block;}
    
    .signUp_box .setup_pf,
    .signUp_box.step3 .setup_ws{width: 100%;}
    .signUp_box.step3 .setup_ws{min-height:auto;}

    .signUp_box .inp_box{display: block;margin-top:19px}
    
    .signUp_box .inp_box .inp{max-width: 100%;margin-top: 12px;}
    .signUp_box .inp_box.err + .err_box{max-width: 100%;margin-left: 0;}

    .signUp_box .btn_wrap{margin-top: 40px;}

}
@media screen and (min-width:769px){
    .sect_signUp.full_height{height: var(--fullHeight);}
}
@media screen and (min-width:601px){
}
@media screen and (max-width:600px){
    .step_progress .step_item .step_desc{display: none;}
    .signUp_box + .url_box{margin-top:16px;padding: 16px 20px;}
    .signUp_box + .url_box .url_info{line-height:18px;}
    .signUp_box + .url_box .name{display: block;margin-bottom:4px;}
}


/* content 공통 */
.content_top{background-color: var(--f9);border-bottom: 1px solid var(--ddd);}
.content_top h2, h3, h4{font-family: 'Pretendard', sans-serif;}

#menuTab{margin-bottom:-1px;}
#menuTab .tab_list{width: 100%;display: flex;justify-content:center;flex-wrap: nowrap;overflow-x: auto;overflow-y: hidden;-webkit-overflow-scrolling: touch;scrollbar-width: none;-ms-overflow-style: none;}
#menuTab .tab_list .tab_item{width:158px;padding-bottom: 16px;position: relative;}
#menuTab .tab_list .tab_item:after{content: '';display: block;width: 0;height:2px;position:absolute;left:0;right:0;bottom:0;background-color: var(--purple);transition: width .3s ease;}
#menuTab .tab_list .tab_item.selected:after{width: 100%;}
#menuTab .tab_list .tab_item:hover:after{width: 100%;}
#menuTab .tab_list .tab_item > a{display: block;text-align: center;font-size:14px;font-weight:400;line-height:17px;color: var(--888);transition: color .3s ease;}
#menuTab .tab_list .tab_item:hover > a{color: var(--black);}
#menuTab .tab_list .tab_item.selected > a{font-weight:600;color: var(--black);}

.search_bar{padding-top: 24px;width: 100%;}
.search_bar .inp_box{display: block;}
.search_bar .inp_box .inp input[type="search"]{padding: 0 12px 0 38px;border-color: var(--black);}
.search_bar .inp_box .inp.search .btn_search{width:38px;right:unset;left:0;background-position: center;}

.topic_wrap{display:flex;flex-wrap:nowrap;gap:12px;margin-top: 16px;padding:14px 20px;background-color: var(--f9);}
.topic_wrap .topic_tit{flex: 0 auto;font-size:14px;font-weight:500;line-height:33px;color: var(--888);}
.topic_wrap .tag_list{flex: 1;}
.topic_wrap .tag_list > ul{gap: 10px;}
.topic_wrap .tag_list .tag_item{width:auto;display:inline-flex;flex: 0 0 auto;padding:8px 12px;background-color: #fff;border-radius:4px;overflow: hidden;}
.topic_wrap .tag_list .tag_item .name{display:inline-block;font-size: 14px;font-weight:400;line-height:17px;color:var(--purple);cursor: pointer;}

.paging_box{margin-top: 40px;}
.list_more{display:none;margin-top: 12px;line-height: 0;}
.list_more .btn{width: 100%;font-size:12px;line-height:15px;text-align: center;}

/* explore */
.explore_wrap{padding-bottom: 80px;}
.explore_wrap .intro_box{padding: 52px 0 36px;text-align: center;}
.explore_wrap .intro_box .tit{font-size: 24px;line-height:29px;}
.explore_wrap .intro_box .tit span{color: var(--purple);}
.explore_wrap .intro_box .sub_tit{margin-top:13px;font-size:16px;font-weight:400;line-height:19px;color: var(--deep_purple);}

.explore_wrap .sort_box{display: flex;justify-content: space-between;align-items: center;margin-top:16px;}

.explore_wrap .card_list{margin-top:16px;}


.explore_wrap #contents > .flex_wrap{align-items: flex-start;justify-content: space-between;gap: 20px;flex-wrap:nowrap;}
/* lnb_filter */
#flt_lnb{display:block;width: 100%;max-width:214px;margin-top:16px;padding:24px;background-color:var(--white);border:1px solid var(--ddd);border-radius:8px;overflow:hidden;flex:0 0 auto;}
#flt_lnb .lnb_tit{font-size: 14px;font-weight:400;line-height:17px;font-family: 'Pretendard', sans-serif;color: var(--888);}
#flt_lnb .more_kwd_btn{display: block;margin-top: 15px;font-size:12px;font-weight:400;line-height:15px;color:var(--purple);cursor: pointer;}
aside .menu_list .sub_menu_list .chk_inp .label_box.chked{font-weight:500;letter-spacing:-0.25px;}

#flt_lnb_m{display: none;margin-top:16px;background-color:var(--white);border:1px solid var(--ddd);border-radius:8px;overflow:hidden;}
#flt_lnb_m .menu_item{border-top:1px solid var(--ddd);}
#flt_lnb_m .menu_item:first-child{border-top: 0;}
#flt_lnb_m .cont_tit{display: flex;justify-content:space-between;align-items:center;padding:12px 16px;cursor: pointer;}
#flt_lnb_m .cont_tit .tit{text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;letter-spacing: normal;word-break: break-word;overflow: hidden;overflow-wrap: break-word;font-size:14px;font-weight:400;line-height:17px;color:var(--black);transition: all .35s ease;}
#flt_lnb_m .cont_tit.chked .tit{color: var(--purple);}

#flt_lnb_m .cont_box{display:none;left: 0;top: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, .2);pointer-events:none;}
#flt_lnb_m .cont_box.open{display: block;position: fixed;z-index:100;pointer-events:all;}
#flt_lnb_m .cont_box .box_inner{width:240px;position: fixed;left: 50%;top: 50%;z-index: 105;background-color: var(--white);transform: translate(-50%, -50%);padding:20px;border: 1px solid var(--ddd);border-radius:4px;overflow:hidden;}
#flt_lnb_m .cont_box .box_inner .menu_tit{font-size: 14px;font-weight: 500;line-height:17px;}
#flt_lnb_m .cont_box .box_close_btn{position: absolute;right: 16px;top: 16px;z-index:110;line-height:0;cursor: pointer;}
#flt_lnb_m .cont_box .sub_menu_list{margin-top: 16px;}
#flt_lnb_m .cont_box .filter_item{margin-top: 12px;}
#flt_lnb_m .cont_box .filter_item:first-child{margin-top: 0;}
/* main_cont */
.explore_wrap #main{flex:1;}

/* sort_box */
.filter_info{display: flex;align-items: center;}
.filter_info.row-2{gap: 8px;}
.filter_wrap{position: relative;}
.filter_wrap .filter_box{display: flex;align-items: center;justify-content: space-between;width:147px;padding:6px 8px 5px 12px;background-color:var(--f9);border: 1px solid var(--ddd);border-radius:4px;overflow: hidden;cursor:pointer;transition: all .35s ease;}
.filter_wrap .filter_box.chked{border-color:var(--purple); background-color: #fff;}
.filter_wrap .filter_box .filter_name{flex: 1;display: inline-block;font-size:14px;font-weight:500;line-height:17px;color: var(--444);text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;letter-spacing: normal;word-break: break-word;overflow: hidden;overflow-wrap: break-word;transition: all .35s ease;}
.filter_wrap .filter_box.chked .filter_name{color:var(--purple);}
.filter_wrap .filter_box .icon.arrow{flex: 0 0 auto;}

.filter_wrap .list_wrap{display:none;position: absolute;left: 0;top:calc(100% + 4px);z-index:50;}
.filter_wrap .list_wrap .filter_list{width: 180px;padding:12px;background-color:var(--white);border: 1px solid var(--ddd);border-radius: 4px;overflow:hidden;}
.filter_wrap .list_wrap .filter_list .filter_hd{display: none;align-items: center;justify-content: space-between;}
.filter_wrap .list_wrap .filter_list .filter_hd .filter_tit{font-size: 14px;font-weight: 500;line-height:24px;}
.filter_wrap .list_wrap .filter_list .filter_close_btn{line-height: 0;cursor: pointer;}
.filter_wrap.open .list_wrap{display: block;}
.filter_wrap .filter_list .filter_item{margin-top: 10px;}
.filter_wrap .filter_list .filter_item:first-child{margin-top: 0;}

.filter_wrap .filter_list .chk_inp .label_box{}
.filter_wrap .filter_list .label_box.chked{color: var(--purple);font-weight: 500;letter-spacing: -0.25px;}
.filter_wrap .filter_list .label_box input[type="checkbox"]:checked ~ .inp_custom {}
.filter_wrap .filter_list .label_box input[type="checkbox"]:checked ~ .inp_custom:after {content: "";display: block;width: 100%;height: 100%;background-image:url('../img/icon/chked.svg');background-repeat:no-repeat;background-size:10px 7px;background-position:center;}
/* templates */

@media screen and (max-width:1155px) {
    .explore_wrap #menuTab .tab_list{justify-content: flex-start;}
    .explore_wrap #menuTab .tab_list .tab_item{width: auto;}
    .explore_wrap #menuTab .tab_list .tab_item > a{white-space: nowrap;min-width: 90px;}
    .explore_wrap #contents > .flex_wrap{display: block;}
    .explore_wrap .paginb_box{display: none;}
    .list_more{display: block;}
    .paging_box{display: none;}

    #flt_lnb{display: none;}
    #flt_lnb_m{display: block;}
    .filter_info.row-2 .filter_wrap .filter_box{width: 92px;}
    .filter_wrap .list_wrap{position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 100;background: rgba(0,0,0,.2);}
    .filter_wrap .list_wrap .filter_list{width: 240px;padding:20px;position: fixed;left: 50%;top: 50%;z-index: 105;transform: translate(-50%, -50%);}
    .filter_wrap .list_wrap .filter_list .filter_hd{display: flex;margin-bottom:16px;}
}

/* workspace */
.inner_left{padding-left: 308px;}
.workspace_wrap .content_top{padding-top: 40px;}
.workspace_wrap .content_top .inner_left{position: relative;}
.workspace_wrap #contents{min-height: var(--wrksHeight);}
.workspace_wrap #menuTab{margin-top: 20px;}
.workspace_wrap #menuTab .tab_list{justify-content: flex-start;}
.workspace_wrap .card_wrap:first-child{margin-top: 20px;}

.wrks_info{}
.wrks_info .wrks_type{margin-top: 8px;}
.wrks_info .wrks_type .type_sta{font-size: 14px;font-weight: 400;line-height: 17px;color: var(--deep_purple);}
.wrks_info .wrks_name{margin-top: 8px;}
.wrks_info .wrks_name .name_sta{font-size: 24px;font-weight: 500;line-height:29px;color: var(--black);}
.wrks_info .wrks_url{margin-top: 8px;}
.wrks_info .wrks_url .url_sta{font-size:14px;font-weight:400;line-height:17px;color: var(--black);}

.workspace_wrap #main{padding: 0 0 40px;}
.workspace_wrap .sort_box{display: flex;align-items: center;justify-content: space-between;margin-top: 16px;}
.workspace_wrap .sort_box .btn_box{width: 110px;}
.workspace_wrap .card_list{margin-top: 20px;}


#pf_lnb{width: 280px;padding:20px;border:1px solid var(--ddd);border-radius:8px;overflow:hidden;position: absolute;left: 0;top: 0;z-index:50;background-color:var(--white)}
#pf_lnb .edit_box{margin-top: 24px;padding-top:24px;border-top: 1px solid var(--eee);}
#pf_lnb .edit_box:first-child{margin-top: 0;padding-top:0;border-top: 0;}

#pf_lnb .pf_thumb{width: 120px;height: 120px;padding: 22px;background-color: var(--white);border-radius:50%;border: 1px solid var(--eee);overflow: hidden;}
#pf_lnb .pf_thumb img{width: 100%;height: 100%;object-fit: cover;object-position: center;}

#pf_lnb .pf_type{margin-top:8px;line-height: 0;}
#pf_lnb .pf_type .pf_type_sta{display:inline-block;padding: 3px 11px;border: 1px solid var(--ddd);border-radius:4px;font-size: 12px;font-weight: 400;line-height:15px;color: var(--444);}

#pf_lnb .pf_name{margin-top: 8px;line-height:0;}
#pf_lnb .pf_name .pf_name_sta{display:inline-block;font-size: 14px;font-weight:500;line-height:17px;color:var(--black);}

#pf_lnb .pf_sub{margin-top: 8px;}
#pf_lnb .pf_sub > div{margin-top: 7px;}
#pf_lnb .pf_sub > div:first-child{margin-top: 0;}
#pf_lnb .pf_sub .pf_location{display: flex;align-items: center;gap: 5px;}
#pf_lnb .pf_sub .pf_location .location_sta{display:inline-block;font-size: 12px;font-weight:400;line-height:15px;color:var(--black);}
#pf_lnb .pf_sub .pf_link{display: flex;align-items: center;gap: 5px;}
#pf_lnb .pf_sub .pf_link .link_sta{display:inline-block;font-size: 12px;font-weight:400;line-height:15px;color: var(--purple);}
#pf_lnb .pf_sub .pf_company{display: flex;align-items: center;gap: 5px;}
#pf_lnb .pf_sub .pf_company .company_sta{display:inline-block;font-size: 12px;font-weight:400;line-height:15px;color: var(--black);}
#pf_lnb .pf_sub .pf_email{display: flex;align-items: center;gap: 5px;}
#pf_lnb .pf_sub .pf_email .email_sta{display:inline-block;font-size: 12px;font-weight:400;line-height:15px;color: var(--black);}

#pf_lnb .pf_desc{padding-left:21px;margin-top: 8px;}
#pf_lnb .pf_desc p{font-size:12px;font-weight:400;line-height:15px;color: var(--888);}

#pf_lnb .ed_box_tit{display:flex;align-items:center;gap:4px;font-size: 14px;font-weight: 500;line-height:17px;color: var(--black);}
#pf_lnb .ed_box_tit .org_count{font-size:12px;line-height:15px;color: var(--purple);cursor: pointer;}
#pf_lnb .org_member{margin-top: 12px;}
#pf_lnb .org_member .mem_list{display: flex;justify-content: flex-start;flex-wrap:wrap;align-items: stretch;gap: 8px;}
#pf_lnb .org_member .mem_item{width: 53.5px;height:53.5px;border-radius:50%;border: 1px solid var(--purple);position:relative;overflow: hidden;}
#pf_lnb .org_member .mem_item .thumb_box{width: 100%;height: 100%;padding: 10px;position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
#pf_lnb .org_member .mem_item img{width: 100%;height: 100%;object-fit: cover;object-position: center}

#pf_lnb .org_member .org_pf{display: flex;align-items: center;gap: 12px;}
#pf_lnb .org_pf .org_thumb{width: 80px;height: 80px;padding:16px;border: 1px solid var(--purple);border-radius: 50%;overflow: hidden;}
#pf_lnb .org_pf .org_thumb img{width: 100%;height: 100%;object-fit: cover;object-position: center;}
#pf_lnb .org_pf .org_info{display: flex;flex-direction:column;gap: 4px;}
#pf_lnb .org_pf .info_name{line-height: 0;}
#pf_lnb .org_pf .info_name .name_sta{display:inline-block;font-size:14px;font-weight:600;line-height:17px;color: var(--black);}
#pf_lnb .org_pf .info_type{line-height:0;}
#pf_lnb .org_pf .info_type .type_sta{display:inline-block;font-size:12px;font-weight:400;line-height:15px;color: var(--888);}

#pf_lnb .edit_btn_box{margin-top: 12px;}
#pf_lnb .edit_btn_box .btn{width: 100%;text-align: center;}

@media screen and (max-width:1155px) {
    .inner_left{padding-left: 16px;}
    #pf_lnb{position: unset;width: 100%;margin-top: 20px;}
    #pf_lnb .org_member .mem_item{width: 65.5px;height: 65.5px;}
}

/* setting */
.setup_box{padding-top: 24px;}
.setup_box .setup_tit{font-family:'Pretendard', sans-serif; font-size: 14px;font-weight: 500;line-height: 17px;color: var(--444);}
.setup_box .bot_area .setup_tit{font-weight: 600;}
.setup_box .bot_area{margin-top:32px;padding-top: 24px;border-top:1px solid var(--ddd)}
.setup_box .inp_wrap{max-width:416px;}
.setup_box .inp_wrap + .inp_wrap{margin-top: 20px;}
.setup_box .inp_wrap .label{width: 100%;}
.setup_box .inp_wrap .inp{width: 100%;}
.setup_box .inp_wrap .inp_box{gap: 16px;}

.setup_box .change_wrks{margin-top: 20px;}
.setup_box .change_wrks .btn_box{margin-top: 16px;}
.setup_box .change_wrks .btn_change{}

.setup_box .chk_setup{margin-top: 20px;}
.setup_box .chk_setup:first-child{margin-top: 0;}

.setup_box .chk_setup .setup_cont{margin-top:16px;}
.setup_box .chk_setup .setup_cont .chk_inp{margin-top: 15px;}
.setup_box .chk_setup .setup_cont .chk_inp:first-child{margin-top: 0;}
.setup_box .chk_setup .setup_cont .chk_inp .label_box{display: inline-block;}

.setup_box .btn_box.update{margin-top: 24px;}


/* settings */
#contents.setting_wrap{padding: 40px 0 20px;min-height: var(--fullHeight);}
.setting_wrap .inner{display: flex;gap: 28px;}
.setting_wrap #main{flex: 1;}
.setting_wrap .main_tit{display: flex;align-items: center;justify-content: space-between;}
.setting_wrap .main_tit .tit{font-family: 'Pretendard', sans-serif;font-size: 24px;font-weight: 500;line-height: 29px;color: var(--black);}
.setting_wrap .main_sub_tit{}
.setting_wrap .main_sub_tit .tit{font-family: 'Pretendard', sans-serif;font-size: 16px;font-weight:500;line-height: 19px;color: var(--black);}
.setting_wrap .main_cont{margin-top: 20px;}
.setting_wrap .only_pc{display: flex;}
.setting_wrap .only_mo{display: none;}


#set_lnb{width: 280px;}
#set_lnb .set_inner{border:1px solid var(--ddd);border-radius:8px;overflow:hidden;background-color:var(--white)}
#set_lnb .pf_info_box{padding:30px 28px;background-color: var(--f9);border-bottom:1px solid var(--ddd);display: flex;align-items: center;gap: 12px;}
#set_lnb .pf_thumb{width: 80px;height: 80px;padding:17px;background-color:var(--white);border: 1px solid var(--eee);border-radius:50%;overflow: hidden;}
#set_lnb .pf_thumb img{width: 100%;height: 100%;object-fit: cover;object-position: center;}

#set_lnb .pf_sub{display: flex;align-items: flex-start;flex-direction: column;gap: 8px;}
#set_lnb .pf_name{line-height:0;}
#set_lnb .pf_name .pf_name_sta{display:inline-block;font-size: 14px;font-weight:500;line-height:17px;color:var(--black);}
#set_lnb .pf_sub .pf_location{display: flex;align-items: center;gap: 5px;}
#set_lnb .pf_sub .pf_location .location_sta{display:inline-block;font-size: 12px;font-weight:400;line-height:15px;color:var(--pur);}
#set_lnb .pf_sub .pf_email{display: flex;align-items: center;gap: 5px;}
#set_lnb .pf_sub .pf_email .email_sta{display:inline-block;font-size: 12px;font-weight:400;line-height:15px;color: var(--purple);}

#set_lnb .acc_box{margin: 0;}
#set_lnb .acc_tit{display: none;padding: 15px 12px 15px 16px;}
#set_lnb .acc_tit .tit{color: var(--purple);font-weight: 600;letter-spacing: -0.3px;}
#set_lnb .acc_cont{display: block;padding-top: 0;}

#set_lnb .set_menu{}
#set_lnb .set_menu > li{margin: 0;padding: 16px 20px;border-top:1px solid var(--ddd)}
#set_lnb .set_menu > li:first-child{border-top: 0;}
#set_lnb .set_menu > li > a{display:block;padding: 0;color: var(--black);}
#set_lnb .set_menu > li .set_sub_menu > li{margin-top:16px;}
#set_lnb .set_menu > li .set_sub_menu > li:first-child{margin-top: 0;}
#set_lnb .set_menu > li .set_sub_menu > li > a{display:block;font-size: 14px;font-weight:400;line-height:17px;color: var(--black);}
#set_lnb .set_menu > li.active > a{color: var(--purple);font-weight: 600;letter-spacing: -0.3px;}
#set_lnb .set_menu > li .set_sub_menu > li.active > a{color: var(--purple);font-weight: 600;letter-spacing: -0.3px;}
#set_lnb .btn_box{margin-top: 20px;}

@media screen and (max-width:1155px) {
    #contents.setting_wrap{padding: 20px 0;}
    .setting_wrap .inner{display: block;}
    #set_lnb{width: 100%;margin-top: 20px;}
    #set_lnb .pf_info_box{padding: 20px;}

    #set_lnb .acc_tit{display: flex;}
    #set_lnb .acc_cont{display: none;border-top: 1px solid var(--ddd);}

    .setting_wrap #main{margin-top: 20px;}
    .setting_wrap .only_pc{display: none;}
    .setting_wrap .only_mo{display: flex;}
}

/* account */
.account .desc_box{margin-top: 16px;}
.account .desc_box > p{font-size: 14px;font-weight:400;line-height:21px;color: var(--444);}
.account .desc_box > p strong{font-weight: 600;}
.account .btn_box{margin-top: 16px;}

/* public profile */
.pb_pf .btn_box{margin-top: 20px;}
.pb_pf .flex_wrap{flex-wrap:wrap;gap: 20px;}
.pb_pf_box{flex: 0 0 auto;}
.pb_pf_box.left{max-width: 416px;width: 100%;}
.pb_pf_box .inp_wrap{margin-top: 20px;}
.pb_pf_box .inp_wrap:first-child{margin-top: 0;}
.pb_pf_box .inp_box.col{gap: 16px;}
.pb_pf_box .inp_box .inp{width: 100%;}
.pb_pf_box .inp_box.textarea .inp textarea{min-height: 120px;}

/* organization */
.wrks_org .card_item.type_pf{position: relative;padding: 40px 28px;}
.wrks_org .card_item.type_pf .info_subject{flex-direction: column;align-items: flex-start;}
.wrks_org .card_item.type_pf .info_type{padding: 0;border: 0;border-radius:0;}
.wrks_org .card_item.type_pf .item_bd{margin-top: 0;position: absolute;right: 28px;bottom: 28px;z-index: 10;}
.wrks_org .card_item.type_pf .item_bd .btn_go_wrks{width:auto;color: var(--black);}

@media screen and (max-width:1155px) {
    .wrks_org .card_list{display: flex;flex-wrap:wrap;justify-content: flex-start;align-items: stretch;gap: 16px;}
    .wrks_org .card_item.type_pf{width:calc(50% - 8px);margin:0;padding: 0;}
    .wrks_org .card_item.type_pf .item_bd{position: unset;gap: 0;padding: 0;}
    .wrks_org .card_item.type_pf .item_bd .btn{padding: 16px 0;}
    .wrks_org .card_item.type_pf .item_bd .btn:first-child{width: 60%;border: 0;border-radius:0;text-align: center;}
    .wrks_org .card_item.type_pf .item_bd .btn:first-child + .btn{width: 40%;border: 0;border-radius:0;text-align: center;border-left: 1px solid var(--ddd);}
}
@media screen and (max-width:600px){
    .wrks_org .card_list{display: block;}
    .wrks_org .card_item.type_pf{width: 100%;margin-top:16px;}
    .wrks_org .card_item.type_pf:first-child{margin-top: 0;}
}


/* new organization */
.org_setup{padding: 40px 0 60px;background-color: var(--f9);}
.org_setup .step_progress .step_item{width: 50%;}
.org_setup .signUp_box .step_cont{display: flex;align-items: flex-end;justify-content: space-between;}
.org_setup .signUp_box.step2 .setup_ws{min-height: 316px;flex: 1 1 auto;}

@media screen and (max-width:950px){
    .org_setup{padding: 16px 0 60px;}
    .org_setup .signUp_box .step_cont{display: block;}

}
@media screen and (min-width:769px){
    .org_setup.full_height{height: var(--fullHeight);}
}
@media screen and (min-width:601px){
}
@media screen and (max-width:600px){
    .org_setup .url_box{margin-top:16px;padding: 16px 20px;}
    .org_setup .url_box .url_info{line-height:18px;}
    .org_setup .url_box .name{display: block;margin-bottom:4px;}
}

/* organization setting */
.org_wrap .setting_wrap .search_bar{padding-top: 0;}
.org_wrap .sort_box .btn_box{width: 110px;}

.org_wrap .card_list{margin-top: 20px;}
.org_wrap .card_list .card_item.type_pf{display: flex;overflow: visible;}
.org_wrap .card_list.member .card_item.type_pf .item_hd{align-items: flex-start;gap: 10px;}
.org_wrap .card_list.member .card_item.type_pf .item_hd .flex_wrap{align-items: center;gap: 12px;}
.org_wrap .card_list.member .card_item.type_pf .item_chk{}
.org_wrap .card_list.member .card_item.type_pf .item_chk .chk_inp{display: inline-block;}
.org_wrap .card_list.member .card_item.type_pf .item_chk .label_box{width: 18px;height: 18px;padding-left: 0;}
.org_wrap .card_item.type_pf .info_subject{display: flex;flex-direction: column;align-items: flex-start;}
.org_wrap .card_item.type_pf .info_type{padding: 0;border: 0;border-radius: 0;}
.org_wrap .card_item.type_pf .item_bd{margin-top: 0;flex: 1;align-self: flex-end;}

.org_wrap .card_list.waiting .card_item.type_pf{background-color: var(--f9);}
.org_wrap .card_list.waiting .btn_box{line-height: 0;}

/* members */
.org_wrap .util_bar{display: flex;align-items:center;gap:8px;margin-top:16px;}
.org_wrap .util_bar .util_box{flex: 0 0 auto;}

.org_wrap .util_bar .tab_box .tab_type_btn{display: flex;align-items: center;overflow: hidden;}
.org_wrap .util_bar .tab_box .tab_btn_item{padding:9px 16px;border: 1px solid var(--ddd);background-color: var(--white);}
.org_wrap .util_bar .tab_box .tab_btn_item.selected{background-color: var(--purple);border-color: var(--purple);}
.org_wrap .util_bar .tab_box .tab_btn_item:first-child{border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.org_wrap .util_bar .tab_box .tab_btn_item > a{display: block;font-size:14px;font-weight:500;line-height:17px;color:var(--444);}
.org_wrap .util_bar .tab_box .tab_btn_item.selected > a{color: var(--white);}
.org_wrap .util_bar .tab_box .tab_btn_item + .tab_btn_item{border-top-right-radius: 4px;border-bottom-right-radius: 4px;}

.org_wrap .util_bar .sort_box{display: flex;align-items: center;justify-content: space-between;flex:1;}
.org_wrap .util_bar .sort_box.waiting{justify-content: flex-end;}

.org_wrap .util_bar .role_box .drop_btn{width: 160px;}
.org_wrap .util_bar .role_box .drop_btn .label_box{width: 18px;height: 18px;padding-left: 0;}

/* 초대 팝업 */
#invite_member .search_bar{padding-top: 0;}
#invite_member .inp_wrap{margin-top: 16px;}
#invite_member .inp_wrap .inp{flex: 1;}
.ly_pop .inp_wrap .inp_wrap_tit{margin-bottom:12px;font-size: 14px;font-weight: 500;line-height: 17px;color: var(--444);}
.ly_pop .inp_wrap .radio_inp + .radio_inp{margin-top: 8px;}

@media screen and (max-width:1155px) {
    .org_wrap .util_bar{flex-direction: column;align-items: stretch;gap: 12px;}
    .org_wrap .util_bar .tab_box .tab_btn_item{width: 50%;}
    .org_wrap .util_bar .tab_box .tab_btn_item > a{text-align: center;}

    .org_wrap .card_list{margin-top: 12px;}
    .org_wrap .card_list .card_item.type_pf{display: block;}
    .org_wrap .card_item.type_pf .item_hd{gap: 5px;}

    .org_wrap .card_item.type_pf{display: block;}
    .org_wrap .card_item.type_pf .item_bd{padding: 0;}
    .org_wrap .card_item.type_pf .drop_box{width: 100%;}
    .org_wrap .card_item.type_pf .drop_btn{width:100%;padding: 16px;border: 0;}
    .org_wrap .card_item.type_pf .drop_menu{position: unset;width: 100%;border-top: 1px solid var(--ddd);border-top-left-radius: 0;border-top-right-radius: 0;}
    .org_wrap .card_item.type_pf .drop_menu .drop_list{padding: 20px 16px;border: 0;}

    .org_wrap .card_list.waiting .item_bd{justify-content: center;background-color: var(--white);border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
    .org_wrap .card_list.waiting .btn_box{width: 100%;}
    .org_wrap .card_list.waiting .btn_box .btn{display: block;padding:16px;border: 0;}

    .org_wrap .role_box .drop_menu {position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 100;width: 100%;background: rgba(0,0,0,.2);}
    .org_wrap .role_box .drop_menu .drop_list{width: 240px;padding: 20px;position: fixed;left: 50%;top: 50%;z-index: 105;transform: translate(-50%, -50%);}
    .drop_box .drop_list .drop_hd{display:flex;margin-bottom: 16px;}
}

/* invi_mail */
#contents.invi_mail{min-height: calc(var(--vh)*100);padding:20px 16px;background-color: var(--f9);display: flex;align-items: center;justify-content: center;}
.invi_mail_box{background-color: var(--white);border-top: 4px solid var(--purple);}
.invi_mail_box .box_inner{width:100%;max-width: 600px;margin: 0 auto;padding: 40px;}
.invi_mail_box .hd_tit{font-size: 28px;line-height: 42px;text-align:center;}
.invi_mail_box .hd_noti{margin-top:20px;padding: 24px 20px;font-size:16px;font-weight:600;line-height:19px;color:var(--purple);text-align:center;background-color: var(--purple100);border-radius: 8px;overflow: hidden;}

.invi_mail_box .box_bd{padding: 32px 0;}
.invi_mail_box .box_bd .cont_box + .cont_box{margin-top: 40px;}
.invi_mail_box .invi_noti{}
.invi_mail_box .invi_noti p{font-size: 14px;font-weight: 400;line-height: 17px;color: var(--444);text-align: center;}
.invi_mail_box .invi_noti p span{font-weight:600;color: var(--purple);}

.invi_mail_box .org_thumb{width: 80px;height: 80px;margin: 24px auto 0;padding:12px;background-color: var(--white);border: 1px solid var(--ddd);border-radius:50%;overflow: hidden;}
.invi_mail_box .org_thumb img{width: 100%;height: 100%;object-fit: cover;object-position: center;}
.invi_mail_box .org_name{margin-top:20px;font-size: 16px;font-weight: 600;line-height:19px;text-align: center;}
.invi_mail_box .btn_box{margin-top:20px;text-align: center;}

.invi_mail_box .link_box{padding: 24px 20px;text-align:center;background-color: var(--white);border: 1px solid var(--ddd);border-radius:8px;}
.invi_mail_box .link_box p{font-size: 14px;font-weight: 400;line-height: 17px;color: var(--444);text-align: center;}
.invi_mail_box .link_box .org_link{display: inline-block;margin: 12px auto 0;font-size: 14px;font-weight: 600;line-height:17px;color: var(--purple);text-align: center;}

.invi_mail_box .box_ft{padding-top: 32px;border-top: 1px solid var(--black);}
.invi_mail_box .box_ft p{font-size: 14px;font-weight: 400;line-height:17px;color:var(--444);}
.invi_mail_box .box_ft p > span{display:inline-block;word-break:break-all;font-weight: 500;}
@media screen and (max-width:1155px) {
    .invi_mail_box .box_inner{padding: 40px 20px 20px;}
}
